@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f8f8f8;
}

img {
  width: 100%;
}

.div-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  padding: 30px 0;
  background: #f8f8f8;
}

.div-header h3 span {
  color: black;
}

.div-header h3 {
  color: orange;
}

/* Header */

.nav-container {
  width: 100%;
  height: 110px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: absolute;
}

.nav-container .logo {
  width: 80px;
}

.nav-container .logo img {
  border-radius: 50%;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 15px;
  padding: 10px 25px;
  border-top-left-radius: 25px;
  transition: 0.5s;
  margin: 0 10px;
}

.nav-bar ul li a:hover {
  color: black;
  background: white;
}

/* Header Content */

header .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

header .content h2 {
  color: orange;
  font-size: 30px;
  padding: 10px 0;
}

header .content label {
  font-size: 20px;
}

/* About */

.about-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background: #f8f8f8;
}

.about-box .about-image {
  margin-right: 50px;
  width: 400px;
}

.about-box .about-body {
  width: 600px;
  font-size: 17px;
}

.about-box .about-body h3 {
  color: orange;
  position: relative;
  bottom: 30px;
  font-size: 23px;
}

.about-body p {
  line-height: 30px;
}

.about-body a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid gray;
  font-size: 15px;
  color: black;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.about-body a:hover {
  background-color: lightgray;
}

/* Services */
.services-box {
  background: #f8f8f8;
}

.services-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
}

.services-box .services-title h2 {
  color: orange;
  margin: 10px;
}

.services-box .services-title h2 span {
  color: black;
}

.services-box .services-title label {
  display: inline-block;
  margin: 5px 0;
  font-size: 19px;
}

.services-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 30px;
}

.services-items {
  padding: 50px;
}

.services-items img {
  width: 80px;
  margin-bottom: 10px;
}

.services-items h3 {
  font-size: 22px;
}

.services-items label {
  display: inline-block;
  margin: 10px;
  font-size: 17px;
}

/* Chefs */
.chefs {
  padding: 40px;
  background-color: #f8f8f8;
}

.chefs-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  text-wrap: wrap;
}

.chef-card {
  width: 280px;
  margin-top: 30px;
}

.chef-card .chef-image {
  width: 280px;
  height: 280px;
}

.chef-card .chef-image img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
}

.chef-card .chef-body {
  padding: 20px;
  margin-top: -5px;
  border: 5px solid #f2f2f2;
}

.chef-card .chef-body h3 {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 17px;
}

.chef-card .chef-body p {
  font-size: 15px;
}

/* Menu */
.menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  padding: 20px;
  flex-wrap: wrap;
}

.menu-box .card {
  display: flex;
  background: #f2f2f2;
  padding: 30px 30px 15px 30px;
  position: relative;
  margin: 11px;
}

.menu-box .card-image img {
  width: 230px;
  transition: all 0.4s ease-in-out;
}

.menu-box .card-image img:hover {
  transform: scale(1.1);
}

.menu-box .card-body {
  padding: 20px;
}

.menu-box .card-body i {
  color: orange;
  font-size: 12px;
}

.menu-box .card-body label {
  margin-top: 5px;
}

.menu-box .card-body label.cash {
  display: block;
  font-weight: bold;
}

.menu-box .card-body label.del {
  display: block;
  font-weight: bold;
  text-decoration: line-through;
  margin-right: 10px;
}

.menu-box .card-body .cash-div {
  display: flex;
}

.menu-box .card-body a {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 20px;
  background: #dcdcdc;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.menu-box .card-body label.discount {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -10px;
  transform: rotate(30deg);
  font-weight: bold;
  font-size: 18px;
  color: red;
}

/* Contact */

.contact {
  display: flex;
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap;
}

.contact .contact-box {
  flex: 1;
}

.contact .contact-box .contact-image,
.contact .contact-box .contact-body {
  height: 100%;
}

.contact img {
  width: 100%;
  height: 100%;
}

.contact-image img {
  opacity: 0.8;
}

.contact-body {
  background: #f2f2f2;
  height: 100%;
}

.contact-body form {
  padding: 50px 40px;
  box-sizing: border-box;
}

.contact-body h2 {
  color: orange;
}

form .form-content {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid lightgray;
}

form .form-content input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: black;
}

form .form-content label {
  position: absolute;
  left: 5px;
  top: 50%;
  color: gray;
  transform: translateY(-50%);
  font-size: 17px;
  transition: 0.5s;
  pointer-events: none;
}

form .form-content span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: orange;
  transform: 0.4s;
}

form .form-content input:focus ~ label,
form .form-content input:valid ~ label {
  top: -5px;
  color: orange;
}

form .form-content input:focus ~ span::before,
form .form-content input:valid ~ span::before {
  width: 100%;
}

.contact-body form button {
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  background: #ff6600;
  color: white;
  border: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

.contact-body form button:hover {
  background: #f96e88;
}

/* Footer */

.footer {
  background: #f2f2f2;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px;
  text-align: center;
}

.footer-box .icon a i {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  color: black;
  background: #dcdcdc;
  border-radius: 50%;
  text-align: center;
}

.footer-box .icon a i:hover {
  opacity: 0.8;
}

.footer-box h3 {
  position: relative;
  bottom: 23px;
}

.footer-box h3 span {
  color: orange;
}

.footer-box .f-div {
  padding: 20px;
  margin: 20px 30px;
}

.footer-box .f-div h4 {
  margin-bottom: 5px;
  font-size: 16px;
  color: orangered;
}

.footer-box .f-div a {
  color: black;
  font-size: 16px;
}

/* Responsive */

@media (max-width: 1100px) {
  .about-box {
    flex-direction: column;
    text-align: center;
  }

  .about-box .about-image {
    margin-right: 0;
  }

  .about-box .about-body {
    margin-top: 60px;
  }

  .about-box .about-body h3 {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    );
    transition: 0.5s;
    overflow: hidden;
  }

  .navbar.active {
    height: 250px;
  }

  .nav-bar ul {
    display: block;
    width: 20%;
    margin: 10px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .content .content-box h2 {
    font-size: 23px;
  }

  .content .content-box label {
    font-size: 15px;
  }

  .about .about-box h3 {
    font-size: 21px;
  }

  .about .about-box p {
    font-size: 15px;
    line-height: 30px;
  }

  .services-box .services-title h2 {
    font-size: 21px;
  }

  .services-box .services-title label {
    font-size: 16px;
  }

  .services-items h3 {
    font-size: 20px;
  }

  .services-items label {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
  }

  .contact .contact-box {
    flex: 100%;
  }
}

@media (max-width: 922px) {
  .services-item {
    flex-direction: column;
  }
}

@media (max-width: 820px) {
  .footer-box .icon {
    width: 100%;
    display: block;
    text-align: center;
  }
}

@media (max-width: 730px) {
  .nav-bar ul {
    display: block;
    width: 30%;
    margin: 30% auto 0 auto;
    text-align: center;
    transition: .5s;
    opacity: 0;
  }

  .about-box .about-image {
    width: 350px;
  }

  .about-box .about-body {
    width: 500px;
  }

  .footer-box .icon {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .footer-box .icon h3 {
    top: 1px;
  }

  .footer-box .f-div h4 {
    font-size: 17px;
  }

  .footer-box .f-div a {
    font-size: 17px;
  }

  .about-box .about-body {
    max-width: 400px;
  }

  .content .contact-box h2 {
    font-size: 20px;
  }

  .content .contact-box label {
    font-size: 14px;
  }
}

@media (max-width: 570px) {
  .menu-box {
    padding: 10px;
  }

  .menu-box .card .card-body h4 {
    font-size: 14px;
  }

  .menu-box .card .card-body label {
    font-size: 13px;
  }

  .menu-box .card {
    padding: 20px 20px 5px 20px;
  }

  .menu-box .card-image img {
    width: 180px;
    transition: all .4s ease-in-out;
  }

  .menu-box .card-image img:hover {
    transform: scale(1.1);
  }

  .menu-box .card-body {
    padding: 20px;
  }

  .menu-box .card-body i {
    font-size: 10px;
  }

  .menu-box .card-body label.cash {
    font-size: 14px;
  }

  .menu-box .card-body .cash-div {
    display: flex;
  }

  .menu-box .card-body a {
    font-size: 12px;
    padding: 6px 12px;
  }

  .menu-box .card-body label.discount {
    font-size: 15px;
  }

  .div-header {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .about-box .about-image {
    width: 300px;
  }

  .about-box .about-body {
    width: 350px;
  }

  .nav-container {
    padding: 0 50px;
  }

  .services-items img {
    width: 60px;
    margin: 10px;
  }
}

@media (max-width: 450px) {
  .menu-box {
    padding: 5px;
  }

  .menu-box .card .card-body h4 {
    font-size: 12px;
  }

  .menu-box .card .card-body label {
    font-size: 11px;
  }

  .menu-box .card {
    padding: 10px 10px 0px 10px;
  }

  .menu-box .card-image img {
    width: 150px;
    transition: all .4s ease-in-out;
  }

  .menu-box .card-body {
    padding: 10px;
  }

  .menu-box .card-body i {
    font-size: 8px;
  }

  .menu-box .card-body label.cash {
    font-size: 12px;
  }

  .menu-box .card-body .cash-div {
    display: flex;
  }

  .menu-box .card-body a {
    padding: 5px 10px;
    font-size: 11px;
  }

  .menu-box .card-body label.discount {
    font-size: 12px;
  }

  .contact-box .contact-body form {
    font-size: 14px;
  }

  .contact-box .contact-body form button {
    padding: 10px;
    font-size: 14px;
  }

  .nav-bar ul {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .about-box .about-image {
    width: 270px;
  }

  .about-box .about-body {
    width: 200px;
  }

  .content .content-box h2 {
    font-size: 18px;
  }

  .contact .contact-box label {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .content .content-box h2 {
    font-size: 17px;
  }

  .content .content-box label {
    font-size: 13px;
  }
}